{% extends 'website/base.html' %}

{% block content %}
    <div class="kc-elm kc-css-6513 kc_row kc_row_inner">
        <div class="kc-elm kc-css-368382 kc_col-sm-12 kc_column_inner kc_col-sm-12">
            <div class="kc_wrapper kc-col-inner-container">
                <div class="kc-elm kc-css-934066 kc-title-wrap " data-wow-delay="0s">

                    <h1 class="kc_title"><span>80% of social videos are</span></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="kc-elm kc-css-333014" style="height: 20px; clear: both; width:100%;"></div>
    <div class="kc-elm kc-css-145328 kc_row kc_row_inner">
        <div class="kc-elm kc-css-448629 kc_col-sm-12 kc_column_inner kc_col-sm-12">
            <div class="kc_wrapper kc-col-inner-container">
                <div class="kc-elm kc-css-459961 kc-title-wrap " data-wow-delay="0s">

                    <h1 class="kc_title"><span>watched</span> <span style="color: #F15D61;">on mute.</span></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="kc-elm kc-css-915157" style="height: 50px; clear: both; width:100%;"></div>
    <div class="kc-elm kc-css-606158 kc_text_block None" data-wow-delay="0.2s"><p>Creating social media videos can give
        you a huge advantage for reaching your audience, <em>but</em> if you are already creating video content for
        social media, you know how much time and effort is involved.&nbsp;</p>
        <p>What’s worse, is when you put all that energy into one video, but very few people end up engaging.&nbsp;</p>
        <p><strong>The person who can capture the most attention, wins.</strong></p>
        <p>To get people stop scrolling and watch your video, you need to grab their attention. And with 80% of people
            browsing social media with the volume off, you need to do so even with your video muted…</p>
    </div>
{% endblock %}