{% extends 'website/base.html' %}
{% load bootstrap4 %}
{% block head %}
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.8.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.2/firebase-storage.js"></script>
{% endblock %}
{% block title %}Profile{% endblock %}
{% block content %}
    <div class="row"><div class="col">
        <h2>My videos</h2>
    </div></div>
    <div class="row">
            {% for item in video %}

                <div class="col-4 mt-1 mb-1">
                    <div class="card">
                        <div class="modal-header pt-1 pb-1">
                            <div class="modal-title"><a href="{% url 'edit_video' item.id %}">{{ item.filename }}</a></div>
                                    <a href="{% url 'del_video' item.id %}" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </a>
{#                            <a href="{% url 'del_video' item.id %}" class="btn btn-danger btn-sm">Delete</a>#}
                        </div>
                        <div class="card-body p-0 m-0">
                            <video controls="controls"
                                   style="width: 348px; height: 206px;"
                                   class="video-stream"
                                   src="{{ item.url }}">
                            </video>
                        </div>
                        <div class="card-footer text-muted">
                            {{ item.uploaded }}
                        </div>
                    </div>
                </div>
            {% endfor %}

    </div>

    <div class="row mt-5 mb-5">
        <div class="col"><h3>Upload video</h3>
            <form method="post" action="{% url 'add_video' %}" id="video_form">
                {% csrf_token %}
                <input type="file" id="videofile"/>
                <button type="button" onclick="uploadVideo()" class="btn btn-primary">Upload</button>
                <input type="hidden" name="url" id="url">
                <input type="hidden" name="filename" id="filename">
            </form>
                <div class="progress mt-1">
                    <div class="progress-bar"
                         role="progressbar"
                         aria-valuenow="0"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         id="progress_video"></div>
                </div>
        </div>
    </div>



    <script>
        $('.progress').hide();
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyCLCQwmi_0gULv6tfZruENLGcrZT3en3J8",
            authDomain: "subtitles-a6e05.firebaseapp.com",
            databaseURL: "https://subtitles-a6e05.firebaseio.com",
            projectId: "subtitles-a6e05",
            storageBucket: "subtitles-a6e05.appspot.com",
            messagingSenderId: "51266705402",
            appId: "1:51266705402:web:63b224df750db3b6af3643"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);


        // Get a reference to the storage service, which is used to create references in your storage bucket
        var storage = firebase.storage();
        var storageRef = firebase.storage().ref();

        function uploadVideo() {
            // File or Blob named mountains.jpg
            var file = document.getElementById("videofile").files[0];
            if (file) {
                $('#video_form').hide();
                $('.progress').show();
            };
            console.log(file);

// Create the file metadata
            var metadata = {
                contentType: 'video/mp4'
            };

            var uploadTask = storageRef.child('{{user.username}}/' + file.name).put(file, metadata);

// Listen for state changes, errors, and completion of the upload.
            uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
                function (snapshot) {
                    // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
                    var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                    console.log('Upload is ' + progress + '% done');
                    var bar = document.getElementById('progress_video');
                    bar.setAttribute('aria-valuenow', progress);
                    bar.setAttribute('style', "width: " + progress + "%;");
                    bar.innerHTML = "" + (progress - (progress%1)) + "%";

                    switch (snapshot.state) {
                        case firebase.storage.TaskState.PAUSED: // or 'paused'
                            console.log('Upload is paused');
                            break;
                        case firebase.storage.TaskState.RUNNING: // or 'running'
                            console.log('Upload is running');
                            break;
                    }
                }, function (error) {
                    console.log(error);
                    // A full list of error codes is available at
                    // https://firebase.google.com/docs/storage/web/handle-errors
                    switch (error.code) {
                        case 'storage/unauthorized':
                            // User doesn't have permission to access the object
                            break;

                        case 'storage/canceled':
                            // User canceled the upload
                            break;


                        case 'storage/unknown':
                            // Unknown error occurred, inspect error.serverResponse
                            break;

                    }
                }, function () {
                    // Upload completed successfully, now we can get the download URL
                    uploadTask.snapshot.ref.getDownloadURL().then(function (downloadURL) {
                        console.log('File available at', downloadURL);
                        var url_field = document.getElementById('url');
                        var filename_field = document.getElementById('filename');
                        var video_form = document.getElementById('video_form');
                        url_field.value = downloadURL;
                        filename_field.value = file.name;
                        video_form.submit();
                    });
                });

        }


    </script>
{% endblock %}
