{% extends 'website/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <div class="video-responsive">
                <video controls="controls"
                       src="{{ video.url }}">
                </video>
            </div>
        </div>
        <div class="col-8">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true">Captions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="false">Resizer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                       aria-controls="contact" aria-selected="false">Result</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="navbar-link align-right" href="{% url 'profile' %}">Back to all videos</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    {% if video.captions %}
                        {{ video.captions.transcript }} -
                        <span class="badge badge-primary">Confidence: {{ video.captions.confidence | floatformat:2 }}</span>
                        <div>
                            {% for word in video.captions.words %}
                                <span class="word">{{ word.word }} : {{ word.start_time }} - {{ word.end_time }}</span>

                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="text-center mt-3">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <h5 class="text-muted text-center">Loading captions...</h5>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <form>
                        {% bootstrap_form form layout='horizontal' %}
                    </form>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div><p>Once you are satisfied with your video, you may click the button below to render and
                        download
                        the video with captions.</p>
                        <p>When you render this video, 1 video will be deducted from the 1 video
                            in your account balance, leaving you with 0 videos.</p></div>
                    <a href="#" class="btn btn-primary">Render and download</a>
                </div>
            </div>


        </div>

    </div>
{% endblock %}